################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/QQ.Framework/.vs/QQ-King
/QQ.Framework/bin
/QQ.Framework/obj
/QQ.Framework/bin_netfx
/QQ.Framework/obj_netfx
/QQLoginTest/bin
/QQLoginTest/obj
/QQLoginTest/bin_netfx
/QQLoginTest/obj_netfx
/QQLoginTest/MyUser.cs
/QQ.Framework/Utils/Private
/QQ.FrameworkTest/bin/Debug
/QQ.FrameworkTest/obj/Debug
*.user
