################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/QQ.Framework/.vs/QQ-King
/QQ.Framework/bin
/QQ.Framework/obj
/QQLoginTest/bin
/QQLoginTest/obj
/QQ.Framework/obj
/QQLoginTest/obj
/QQ.Framework(Framework)/bin
/QQ.Framework(Framework)/obj
/QQLoginTest(Framework)/bin
/QQLoginTest(Framework)/obj
