################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/packages
/QQ.Framework/bin
/QQ.Framework/obj
/QQLoginTest/bin
/QQLoginTest/obj
/QQLoginTest/MyUser.cs
/QQ.Framework/Utils/Private
/QQ.FrameworkTest/bin
/QQ.FrameworkTest/obj
*.user
/protobuf-net/bin/Debug/netstandard2.0
/protobuf-net/obj
